POSTGRES_HOST=localhost
POSTGRES_PORT=55432
POSTGRES_HOST_PORT=55432
POSTGRES_DB=memegraph
POSTGRES_USER=memegraph
POSTGRES_PASSWORD=memegraph
BACKEND_PORT=4000
NODE_ENV=development

POSTGRES_SHM_SIZE=2gb
